In [22]:
import pandas as pd

In [23]:
jan = pd.read_csv('DECAP/2020/jan2020.csv', sep = ';')
fev = pd.read_csv('DECAP/2020/fev2020.csv', sep = ';')
mar = pd.read_csv('DECAP/2020/mar2020.csv', sep = ';')
abr = pd.read_csv('DECAP/2020/abr2020.csv', sep = ';')
mai = pd.read_csv('DECAP/2020/mai2020.csv', sep = ';')
jun = pd.read_csv('DECAP/2020/jun2020.csv', sep = ';')
jul = pd.read_csv('DECAP/2020/jul2020.csv', sep = ';')

In [24]:
todos = pd.concat([jan, fev, mar, abr, mai, jun, jul])

In [25]:
todos.head(100)

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,2019.0,1624939.0,1624939/2019,01/01/2020 00:14:09,01/01/2020 00:13:36,31/12/2019,19:40,A NOITE,31/12/2019,01/01/2020 00:14:09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.0,1.0,1/2020,01/01/2020 02:28:33,01/01/2020 02:46:19,31/12/2019,22:30,A NOITE,01/01/2020,01/01/2020 02:28:33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020.0,4.0,4/2020,01/01/2020 05:53:09,01/01/2020 06:52:44,01/01/2020,02:35,DE MADRUGADA,01/01/2020,01/01/2020 05:53:09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020.0,4.0,4/2020,01/01/2020 05:53:09,01/01/2020 06:52:44,01/01/2020,02:35,DE MADRUGADA,01/01/2020,01/01/2020 05:53:09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020.0,4.0,4/2020,01/01/2020 05:53:09,01/01/2020 06:52:44,01/01/2020,02:35,DE MADRUGADA,01/01/2020,01/01/2020 05:53:09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020.0,18.0,18/2020,03/01/2020 10:20:12,03/01/2020 10:48:28,29/11/2019,NaN,DE MADRUGADA,03/01/2020,03/01/2020 10:20:12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2020.0,18.0,18/2020,03/01/2020 10:20:12,03/01/2020 10:48:28,29/11/2019,NaN,DE MADRUGADA,03/01/2020,03/01/2020 10:20:12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2020.0,42.0,42/2020,03/01/2020 10:35:45,03/01/2020 10:48:28,03/01/2020,07:00,PELA MANHÃƒ,03/01/2020,03/01/2020 10:35:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2020.0,35.0,35/2020,03/01/2020 12:00:45,03/01/2020 12:46:06,01/01/2020,NaN,DE MADRUGADA,03/01/2020,03/01/2020 12:00:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2020.0,35.0,35/2020,03/01/2020 12:00:45,03/01/2020 12:46:06,01/01/2020,NaN,DE MADRUGADA,03/01/2020,03/01/2020 12:00:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
todos.drop_duplicates(subset ="NUM_BO", keep = False, inplace = True)

In [27]:
todos = todos.drop(['NUM_BO', 'NUMERO_BOLETIM', 'PLACA_VEICULO', 'UF_VEICULO', 'CIDADE_VEICULO', 'MARCA_CELULAR', 'IDADE', 'SEXO', 'TIPOPESSOA', 'STATUS', 'DESDOBRAMENTO', 'FLAGRANTE', 'DESCRICAOLOCAL', 'QUANT_CELULAR', 'BO_AUTORIA', 'NUMERO_BOLETIM_PRINCIPAL', 'EXAME', 'SOLUCAO', 'NOMEPESSOA', 'VITIMAFATAL', 'RG', 'RG_UF', 'NATURALIDADE', 'NACIONALIDADE', 'DATANASCIMENTO', 'ESTADOCIVIL', 'PROFISSAO', 
'GRAUINSTRUCAO', 'CORCUTIS', 'NATUREZAVINCULADA', 'TIPOVINCULO', 'RELACIONAMENTO', 'PARENTESCO'], axis = 1)

In [28]:
todos = todos.drop(['DELEGACIA_NOME', 'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE', 'RUBRICA'], axis = 1)

In [29]:
for col in todos:
    print(col)

ANO_BO
BO_INICIADO
BO_EMITIDO
DATAOCORRENCIA
HORAOCORRENCIA
PERIDOOCORRENCIA
DATACOMUNICACAO
DATAELABORACAO
LOGRADOURO
NUMERO
BAIRRO
CIDADE
UF
LATITUDE
LONGITUDE
DESCR_COR_VEICULO
DESCR_MARCA_VEICULO
ANO_FABRICACAO
ANO_MODELO
DESCR_TIPO_VEICULO
A
Unnamed: 1
Unnamed: 2
Unnamed: 3
Unnamed: 4
Unnamed: 5
Unnamed: 6
Unnamed: 7
Unnamed: 8
Unnamed: 9
Unnamed: 10
Unnamed: 11
Unnamed: 12
Unnamed: 13
Unnamed: 14
Unnamed: 15
Unnamed: 16
Unnamed: 17
Unnamed: 18
Unnamed: 19
Unnamed: 20
Unnamed: 21
Unnamed: 22
Unnamed: 23
Unnamed: 24
Unnamed: 25
Unnamed: 26
Unnamed: 27
Unnamed: 28
Unnamed: 29
Unnamed: 30
Unnamed: 31
Unnamed: 32
Unnamed: 33
Unnamed: 34
Unnamed: 35
Unnamed: 36
Unnamed: 37
Unnamed: 38
Unnamed: 39
Unnamed: 40
Unnamed: 41
Unnamed: 42
Unnamed: 43
Unnamed: 44
Unnamed: 45
Unnamed: 46
Unnamed: 47
Unnamed: 48
Unnamed: 49
Unnamed: 50
Unnamed: 51
Unnamed: 52
Unnamed: 53
Unnamed: 54
Unnamed: 55
Unnamed: 56

In [33]:
todos = todos.drop(['A',
'Unnamed: 1',
'Unnamed: 2',
'Unnamed: 3',
'Unnamed: 4',
'Unnamed: 5',
'Unnamed: 6',
'Unnamed: 7',
'Unnamed: 8',
'Unnamed: 9',
'Unnamed: 10',
'Unnamed: 11',
'Unnamed: 12',
'Unnamed: 13',
'Unnamed: 14',
'Unnamed: 15',
'Unnamed: 16',
'Unnamed: 17',
'Unnamed: 18',
'Unnamed: 19',
'Unnamed: 20',
'Unnamed: 21',
'Unnamed: 22',
'Unnamed: 23',
'Unnamed: 24',
'Unnamed: 25',
'Unnamed: 26',
'Unnamed: 27',
'Unnamed: 28',
'Unnamed: 29',
'Unnamed: 30',
'Unnamed: 31',
'Unnamed: 32',
'Unnamed: 33',
'Unnamed: 34',
'Unnamed: 35',
'Unnamed: 36',
'Unnamed: 37',
'Unnamed: 38',
'Unnamed: 39',
'Unnamed: 40',
'Unnamed: 41',
'Unnamed: 42',
'Unnamed: 43',
'Unnamed: 44',
'Unnamed: 45',
'Unnamed: 46',
'Unnamed: 47',
'Unnamed: 48',
'Unnamed: 49',
'Unnamed: 50',
'Unnamed: 51',
'Unnamed: 52',
'Unnamed: 53',
'Unnamed: 54',
'Unnamed: 55',
'Unnamed: 56',
], axis = 1)

In [34]:
for col in todos:
    print(col)

ANO_BO
BO_INICIADO
BO_EMITIDO
DATAOCORRENCIA
HORAOCORRENCIA
PERIDOOCORRENCIA
DATACOMUNICACAO
DATAELABORACAO
LOGRADOURO
NUMERO
BAIRRO
CIDADE
UF
LATITUDE
LONGITUDE
DESCR_COR_VEICULO
DESCR_MARCA_VEICULO
ANO_FABRICACAO
ANO_MODELO
DESCR_TIPO_VEICULO

In [35]:
todos.dtypes

ANO_BO                 float64
BO_INICIADO             object
BO_EMITIDO              object
DATAOCORRENCIA          object
HORAOCORRENCIA          object
PERIDOOCORRENCIA        object
DATACOMUNICACAO         object
DATAELABORACAO          object
LOGRADOURO              object
NUMERO                 float64
BAIRRO                  object
CIDADE                  object
UF                      object
LATITUDE                object
LONGITUDE               object
DESCR_COR_VEICULO       object
DESCR_MARCA_VEICULO     object
ANO_FABRICACAO         float64
ANO_MODELO             float64
DESCR_TIPO_VEICULO      object
dtype: object

In [36]:
todos.to_csv('DADOS/furtos_capital_2020.csv', index = False)

In [37]:
todos.shape

(8850, 20)