In [2]:
import pandas as pd

In [3]:
jan = pd.read_csv('DECAP/2018/jan2018.csv', sep = ';')
fev = pd.read_csv('DECAP/2018/fev2018.csv', sep = ';')
mar = pd.read_csv('DECAP/2018/mar2018.csv', sep = ';')
abr = pd.read_csv('DECAP/2018/abr2018.csv', sep = ';')
mai = pd.read_csv('DECAP/2018/mai2018.csv', sep = ';')
jun = pd.read_csv('DECAP/2018/jun2018.csv', sep = ';')
jul = pd.read_csv('DECAP/2018/jul2018.csv', sep = ';')
ago = pd.read_csv('DECAP/2018/ago2018.csv', sep = ';')
sete = pd.read_csv('DECAP/2018/set2018.csv', sep = ';')
out = pd.read_csv('DECAP/2018/out2018.csv', sep = ';')
nov = pd.read_csv('DECAP/2018/nov2018.csv', sep = ';')
dez = pd.read_csv('DECAP/2018/dez2018.csv', sep = ';')

In [4]:
nov.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2018,1396039,1396039/2018,01/11/2018 00:15:14,01/11/2018 00:15:59,31/10/2018,21:50,A NOITE,31/10/2018,01/11/2018 00:15:14,...,FEJ1679,SP,SÃO PAULO,Prata,YAMAHA/MT03 ABS,2017.0,NaN,MOTOCICLO,NaN,NaN
1,2018,1396254,1396254/2018,01/11/2018 00:25:38,01/11/2018 00:25:39,31/10/2018,08:30,PELA MANHÃ,01/11/2018,01/11/2018 00:25:38,...,FZO6379,SP,SÃO PAULO,Branco,RENAULT/SANDERO AUTH 10,2018.0,NaN,AUTOMOVEL,NaN,NaN
2,2018,1396234,1396234/2018,01/11/2018 00:27:41,01/11/2018 00:27:44,31/10/2018,23:30,A NOITE,01/11/2018,01/11/2018 00:27:41,...,NZN1096,BA,SALVADOR,Branco,NaN,2011.0,NaN,AUTOMOVEL,NaN,NaN
3,2018,1396283,1396283/2018,01/11/2018 02:43:42,01/11/2018 02:43:42,31/10/2018,16:36,A TARDE,01/11/2018,01/11/2018 02:43:42,...,BOA0251,SP,SÃO PAULO,Azul,VW/GOL CL,1993.0,NaN,AUTOMOVEL,NaN,NaN
4,2018,1396344,1396344/2018,01/11/2018 02:54:06,01/11/2018 02:54:51,31/10/2018,22:26,A NOITE,01/11/2018,01/11/2018 02:54:06,...,DIS7248,SP,SÃO PAULO,Preta,AUDI/A3 1.8,2003.0,NaN,AUTOMOVEL,NaN,NaN

In [5]:
todos = pd.concat([jan, fev, mar, abr, mai, jun, jul, ago, sete, out,nov, dez])

In [6]:
todos.drop_duplicates(subset ="NUM_BO", keep = False, inplace = True)

In [7]:
todos = todos.drop(['NUM_BO', 'NUMERO_BOLETIM', 'PLACA_VEICULO', 'UF_VEICULO', 'CIDADE_VEICULO', 'MARCA_CELULAR', 'IDADE', 'SEXO', 'TIPOPESSOA', 'STATUS', 'DESDOBRAMENTO', 'FLAGRANTE', 'DESCRICAOLOCAL', 'QUANT_CELULAR', 'BO_AUTORIA', 'NUMERO_BOLETIM_PRINCIPAL', 'EXAME', 'SOLUCAO', 'NOMEPESSOA', 'VITIMAFATAL', 'RG', 'RG_UF', 'NATURALIDADE', 'NACIONALIDADE', 'DATANASCIMENTO', 'ESTADOCIVIL', 'PROFISSAO', 
'GRAUINSTRUCAO', 'CORCUTIS', 'NATUREZAVINCULADA', 'TIPOVINCULO', 'RELACIONAMENTO', 'PARENTESCO'], axis = 1)

In [8]:
todos = todos.drop(['DELEGACIA_NOME', 'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE', 'RUBRICA'], axis = 1)

In [9]:
for col in todos:
    print(col)

ANO_BO
BO_INICIADO
BO_EMITIDO
DATAOCORRENCIA
HORAOCORRENCIA
PERIDOOCORRENCIA
DATACOMUNICACAO
DATAELABORACAO
LOGRADOURO
NUMERO
BAIRRO
CIDADE
UF
LATITUDE
LONGITUDE
DESCR_COR_VEICULO
DESCR_MARCA_VEICULO
ANO_FABRICACAO
ANO_MODELO
DESCR_TIPO_VEICULO

In [10]:
todos.dtypes

ANO_BO                   int64
BO_INICIADO             object
BO_EMITIDO              object
DATAOCORRENCIA          object
HORAOCORRENCIA          object
PERIDOOCORRENCIA        object
DATACOMUNICACAO         object
DATAELABORACAO          object
LOGRADOURO              object
NUMERO                 float64
BAIRRO                  object
CIDADE                  object
UF                      object
LATITUDE                object
LONGITUDE               object
DESCR_COR_VEICULO       object
DESCR_MARCA_VEICULO     object
ANO_FABRICACAO         float64
ANO_MODELO             float64
DESCR_TIPO_VEICULO      object
dtype: object

In [11]:
todos.to_csv('DADOS/furtos_capital_2018.csv', index = False)

In [12]:
todos.shape

(22333, 20)

In [13]:
todos.isna()

,ANO_BO,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,LOGRADOURO,NUMERO,BAIRRO,CIDADE,UF,LATITUDE,LONGITUDE,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO
15,False,False,False,False,True,False,False,False,True,False,False,False,False,True,True,False,False,False,False,False
16,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3507,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
3509,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3510,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3511,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3512,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,False,False,False,False,False