In [1]:
import pandas as pd

In [2]:
jan = pd.read_csv('DEMACRO/2018/jan2018.csv', sep = ';')
fev = pd.read_csv('DEMACRO/2018/fev2018.csv', sep = ';')
mar = pd.read_csv('DEMACRO/2018/mar2018.csv', sep = ';')
abr = pd.read_csv('DEMACRO/2018/abr2018.csv', sep = ';')
mai = pd.read_csv('DEMACRO/2018/mai2018.csv', sep = ';')
jun = pd.read_csv('DEMACRO/2018/jun2018.csv', sep = ';')
jul = pd.read_csv('DEMACRO/2018/jul2018.csv', sep = ';')
ago = pd.read_csv('DEMACRO/2018/ago2018.csv', sep = ';')
sete = pd.read_csv('DEMACRO/2018/set2018.csv', sep = ';')
out = pd.read_csv('DEMACRO/2018/out2018.csv', sep = ';')
nov = pd.read_csv('DEMACRO/2018/nov2018.csv', sep = ';')
dez = pd.read_csv('DEMACRO/2018/dez2018.csv', sep = ';')

In [3]:
nov.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2018,1396180,1396180/2018,01/11/2018 00:00:54,01/11/2018 00:01:39,31/10/2018,22:00,A NOITE,31/10/2018,01/11/2018 00:00:54,...,EME7998,SP,SÃO BERNARDO DO CAMP,Prata,I/CITROEN C4 16 GLX 16V,NaN,NaN,AUTOMOVEL,NaN,NaN
1,2018,4568,4568/2018,01/11/2018 00:51:04,01/11/2018 01:00:16,31/10/2018,NaN,A NOITE,01/11/2018,01/11/2018 00:51:04,...,GAL4129,SP,FRANCISCO MORATO,Preta,FORD/ECOSPORT FSL 1.6B,2015.0,2016.0,CAMIONETA,NaN,NaN
2,2018,1396368,1396368/2018,01/11/2018 02:55:22,01/11/2018 02:55:56,31/10/2018,09:45,PELA MANHÃ,01/11/2018,01/11/2018 02:55:22,...,BGU1696,SP,TABOÃO DA SERRA,Bege,NaN,1992.0,NaN,AUTOMOVEL,NaN,NaN
3,2018,1396394,1396394/2018,01/11/2018 03:51:08,01/11/2018 03:51:53,31/10/2018,23:00,A NOITE,01/11/2018,01/11/2018 03:51:08,...,EHU4092,SP,SANTO ANDRÉ,Preta,HONDA/CG150 TITAN MIX ES,2010.0,NaN,MOTOCICLO,NaN,NaN
4,2018,6972,6972/2018,01/11/2018 04:20:42,01/11/2018 05:55:02,31/10/2018,23:59,A NOITE,01/11/2018,01/11/2018 04:20:42,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [4]:
todos = pd.concat([jan, fev, mar, abr, mai, jun, jul, ago, sete, out,nov, dez])

In [5]:
todos.head(100)

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2018,98,98/2018,01/01/2018 03:23:42,01/01/2018 03:23:42,31/12/2017,NaN,A NOITE,01/01/2018,01/01/2018 03:23:42,...,CEX8497,SP,S.PAULO,Azul,FIAT/UNO MILLE SX,1996.0,1996.0,AUTOMOVEL,NaN,NaN
1,2018,2,2/2018,01/01/2018 05:28:48,01/01/2018 05:42:12,31/12/2017,NaN,A TARDE,01/01/2018,01/01/2018 05:28:48,...,FZY2057,SP,OSASCO,Vermelho,TRAXX/JH250GY 5A,2016.0,2017.0,MOTOCICLO,NaN,NaN
2,2018,144,144/2018,01/01/2018 05:53:21,01/01/2018 05:53:21,01/01/2018,NaN,DE MADRUGADA,01/01/2018,01/01/2018 05:53:21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1/2018,01/01/2018 10:20:54,01/01/2018 10:51:45,31/12/2017,23:55,A NOITE,01/01/2018,01/01/2018 10:20:54,...,CRC 8551,SP,EMBU DAS ARTES,Prata,VW/GOL MI,1999.0,1999.0,AUTOMOVEL,NaN,NaN
4,2018,2,2/2018,01/01/2018 10:46:24,01/01/2018 10:55:37,31/12/2017,23:30,A NOITE,01/01/2018,01/01/2018 10:46:24,...,FVH0779,SP,CARAPICUIBA,Vermelho,HONDA/CG 160 TITAN,2017.0,2018.0,MOTOCICLO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018,10,10/2018,03/01/2018 10:00:06,03/01/2018 10:13:18,01/12/2017,08:00,PELA MANHÃ,03/01/2018,03/01/2018 10:00:06,...,DLB5418,SP,GUARULHOS,Preta,GM/MERIVA,2003.0,2003.0,AUTOMOVEL,NaN,NaN
96,2018,8294,8294/2018,03/01/2018 10:16:10,03/01/2018 10:16:10,02/01/2018,NaN,A TARDE,03/01/2018,03/01/2018 10:16:10,...,FTF7783,SP,POA,Vermelho,FIAT/UNO VIVACE 1.0,2014.0,2014.0,AUTOMOVEL,NaN,NaN
97,2018,42,42/2018,03/01/2018 10:13:17,03/01/2018 10:24:19,01/01/2018,NaN,EM HORA INCERTA,03/01/2018,03/01/2018 10:13:17,...,ESG6759,SP,POA,Vermelho,HONDA/CG 125 FAN KS,2011.0,2012.0,MOTOCICLO,NaN,NaN
98,2018,8435,8435/2018,03/01/2018 10:42:12,03/01/2018 10:42:12,02/01/2018,NaN,A TARDE,03/01/2018,03/01/2018 10:42:12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2018,9117,9117/2018,03/01/2018 12:04:05,03/01/2018 12:04:05,13/11/2017,NaN,DE MADRUGADA,03/01/2018,03/01/2018 12:04:05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
todos.drop_duplicates(subset ="NUM_BO", keep = False, inplace = True)

In [7]:
todos = todos.drop(['NUM_BO', 'NUMERO_BOLETIM', 'PLACA_VEICULO', 'UF_VEICULO', 'CIDADE_VEICULO', 'MARCA_CELULAR', 'IDADE', 'SEXO', 'TIPOPESSOA', 'STATUS', 'DESDOBRAMENTO', 'FLAGRANTE', 'DESCRICAOLOCAL', 'QUANT_CELULAR', 'BO_AUTORIA', 'NUMERO_BOLETIM_PRINCIPAL', 'EXAME', 'SOLUCAO', 'NOMEPESSOA', 'VITIMAFATAL', 'RG', 'RG_UF', 'NATURALIDADE', 'NACIONALIDADE', 'DATANASCIMENTO', 'ESTADOCIVIL', 'PROFISSAO', 
'GRAUINSTRUCAO', 'CORCUTIS', 'NATUREZAVINCULADA', 'TIPOVINCULO', 'RELACIONAMENTO', 'PARENTESCO'], axis = 1)

In [8]:
todos = todos.drop(['DELEGACIA_NOME', 'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE', 'RUBRICA'], axis = 1)

In [9]:
for col in todos:
    print(col)

ANO_BO
BO_INICIADO
BO_EMITIDO
DATAOCORRENCIA
HORAOCORRENCIA
PERIDOOCORRENCIA
DATACOMUNICACAO
DATAELABORACAO
LOGRADOURO
NUMERO
BAIRRO
CIDADE
UF
LATITUDE
LONGITUDE
DESCR_COR_VEICULO
DESCR_MARCA_VEICULO
ANO_FABRICACAO
ANO_MODELO
DESCR_TIPO_VEICULO

In [10]:
todos.dtypes

ANO_BO                   int64
BO_INICIADO             object
BO_EMITIDO              object
DATAOCORRENCIA          object
HORAOCORRENCIA          object
PERIDOOCORRENCIA        object
DATACOMUNICACAO         object
DATAELABORACAO          object
LOGRADOURO              object
NUMERO                   int64
BAIRRO                  object
CIDADE                  object
UF                      object
LATITUDE                object
LONGITUDE               object
DESCR_COR_VEICULO       object
DESCR_MARCA_VEICULO     object
ANO_FABRICACAO         float64
ANO_MODELO             float64
DESCR_TIPO_VEICULO      object
dtype: object

In [11]:
todos.to_csv('DADOS/furtos_metro_2018.csv', index = False)